<h1>配球共有</h1>

<p><%= @user.name %>さん</p>

<p>リンクを開いてアカウントを有効化してください</p>

<%= link_to "アカウントの有効化",
            edit_account_activation_url(@user.activation_token,
                                        email: @user.email) %>
