<h1>パスワードの再設定</h1>

<p>リンク先からパスワードの再設定を行ってください。</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクは２時間で無効になります。</p>
<p>パスワードの変更を行いたくない場合はこのメールは無視してください。</p>

