<% provide(:title, 'Sign up') %>
<% provide(:url, signup_path) %>
<% provide(:button_text, 'アカウントを作成する') %>
<h1>Sign up</h1>

<% unless @user.twitter_id %>
<%= link_to 'Twitterで登録', '/auth/twitter', method: :post %>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= render 'users/form' %>
  </div>
</div>
