<footer class="footer">
  <small>
    配球共有は<a href="https://www.twitter.com/Satoh_Ikumichan/">汚奇死徒神</a>によって作られました。
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
